<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{bartenderName}}</h1>
  </div>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Drinker
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu">
    <a class="dropdown-item" href="#">Item</a>
  </div>
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Bar
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu">
    <a class="dropdown-item" href="#">Item</a>
  </div>
</div>