<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{barName}}</h1>
      <p class="bar-details" *ngIf="barDetails">
        {{barDetails?.address}}<span *ngIf="barDetails.address && barDetails.city">|</span>{{barDetails?.city}}
        <br>
        {{barDetails?.phone}}
      </p>
    </div>
  </div>

  <div class="container">
      <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Day
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="setDay('Monday')">Monday</a>
            <a class="dropdown-item" (click)="setDay('Tuesday')">Tuesday</a>
            <a class="dropdown-item" (click)="setDay('Wednesday')">Wednesday</a>
            <a class="dropdown-item" (click)="setDay('Thursday')">Thursday</a>
            <a class="dropdown-item" (click)="setDay('Friday')">Friday</a>
            <a class="dropdown-item" (click)="setDay('Saturday')">Saturday</a>
            <a class="dropdown-item" (click)="setDay('Sunday')">Sunday</a>
        </div>
        {{day}}
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manufacturers
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
          <a class="dropdown-item" (click)="setManf('Blue Moon')">Blue Moon</a>
          <a class="dropdown-item" (click)="setManf('Pabst')">Pabst</a>
          <a class="dropdown-item" (click)="setManf('Anheuser-Bush')">Anheuser-Bush</a>
          <a class="dropdown-item" (click)="setManf('Coors')">Coors</a>
          <a class="dropdown-item" (click)="setManf('Grupo Modelo')">Grupo Modelo</a>
          <a class="dropdown-item" (click)="setManf('Heineken')">Heineken</a>
          <a class="dropdown-item" (click)="setManf('Diago')">Diago</a>
          <a class="dropdown-item" (click)="setManf('Miller')">Miller</a>
          <a class="dropdown-item" (click)="setManf('Steel Brewing')">Steel Brewing</a>
          <a class="dropdown-item" (click)="setManf('Yuengling')">Yuengling</a>
        </div>
        {{manf}}
        <button pButton type="button" label="Render" (click)="render($event)"></button>
      </div>
      <br>
      <div id="bargraph2"></div>
      <br>
      <div id="bargraph5"></div>
      <br>
      <div id="bargraph"></div>
      <br>
      <div id="bargraph3"></div>
      <br>
      <div id="bargraph4"></div>
  </div>
  <br><br>