<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Manufacturers</h1>
  </div>
</div>

<div class="container">

  <p-table [value]="manf">
    <ng-template pTemplate="header">
        <tr>
            <th>Manufacturer</th>
          </tr>
    </ng-template>
    <ng-template pTemplate="body" let-manf>
        <tr>
            <td>
              <a routerLink="/manf/{{manf.attr}}">{{manf.attr}}</a>
            </td>
          </tr>
    </ng-template>
  </p-table>
  
</div>
<br><br>