<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Modify</h1>
    <button class="font-weight-light" (click)="displayDrinkers()">Drinkers</button>
    <button class="font-weight-light" (click)="displayBars()">Bars</button>
    <button class="font-weight-light" (click)="displayItems()">Items</button>
    <button class="font-weight-light" (click)="displayBartenders()">Bartenders</button>
    <button class="font-weight-light" (click)="displayBills()">Bills</button>
    <button class="font-weight-light" (click)="displayFrequents()">Frequents</button>
    <button class="font-weight-light" (click)="displayHours()">Hours</button>
    <button class="font-weight-light" (click)="displayInventory()">Inventory</button>
    <button class="font-weight-light" (click)="displayLikes()">Likes</button>
    <button class="font-weight-light" (click)="displayOperates()">Operates</button>
    <button class="font-weight-light" (click)="displayPrintedOn()">Printed On</button>
    <button class="font-weight-light" (click)="displaySells()">Sells</button>
    <button class="font-weight-light" (click)="displayTransacts()">Transacts</button>
    <button class="font-weight-light" (click)="displayWorks()">Works</button>
  </div>
</div>

<div id="drinkers" class="container">
  <input id="drinker_name" type="text" pInputText />
  <input id="drinker_state" type="text" pInputText />
  <input id="drinker_city" type="text" pInputText />
  <input id="drinker_phone" type="text" pInputText />
  <input id="drinker_address" type="text" pInputText />
  <button pButton type="button" label="Update" (click)="update_drinker($event)"></button>
  <br><br>
  <div id="delete_drinker_div" hidden="true">
      <input id="delete_drinker" type="text" pInputText />
      <button pButton type="button" label="Submit" (click)="delete_drinker($event)"></button>
  </div>
  <br>
  <p-table [value]="drinkers">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>State</th>
            <th>City</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Delete?</th>
          </tr>
    </ng-template>
    <ng-template pTemplate="body" let-drinker>
        <tr>
            <td>
              <a routerLink="/drinker/{{drinker.name}}">              
                {{drinker.name}}
              </a>
            </td>
            <td>{{drinker.state}}</td>
            <td>{{drinker.city}}</td>
            <td>{{drinker.phone}}</td>
            <td>{{drinker.address}}</td>
            <td>
              <button pButton type="button" label="X" (click)="confirm_drinker_delete()"></button>
            </td>
          </tr>
    </ng-template>
  </p-table>
  
</div>
<div id="bars" hidden="true" class="container">
    <input id="bar_name" type="text" pInputText />
    <input id="bar_license" type="text" pInputText />
    <input id="bar_state" type="text" pInputText />
    <input id="bar_city" type="text" pInputText />
    <input id="bar_phone" type="text" pInputText />
    <input id="bar_address" type="text" pInputText />
    <button pButton type="button" label="Update" (click)="update_bar($event)"></button>
    <br><br>
    <div id="delete_bar_div" hidden="true">
        <input id="delete_bar" type="text" pInputText />
        <button pButton type="button" label="Submit" (click)="delete_bar($event)"></button>
    </div>
    <br>
    <p-table [value]="bars">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>License</th>
                <th>State</th>
                <th>City</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Delete?</th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bar>
            <tr>
                <td>
                  <a routerLink="/bars/{{bar.name}}">              
                    {{bar.name}}
                  </a>
                </td>
                <td>{{bar.license}}</td>
                <td>{{bar.state}}</td>
                <td>{{bar.city}}</td>
                <td>{{bar.phone}}</td>
                <td>{{bar.address}}</td>
                <td>
                    <button pButton type="button" label="X" (click)="confirm_bar_delete()"></button>
                </td>
              </tr>
        </ng-template>
      </p-table>
</div>
<div id="items" hidden="true" class="container">
    <input id="item_name" type="text" pInputText />
    <input id="item_type" type="text" pInputText />
    <input id="item_attr" type="text" pInputText />
    <button pButton type="button" label="Update" (click)="update_item($event)"></button>
    <br>
    <div id="delete_item_div" hidden="true">
        <input id="delete_item" type="text" pInputText />
        <button pButton type="button" label="Submit" (click)="delete_item($event)"></button>
    </div>
    <br><br>
    <p-table [value]="item">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Attribute</th>
                <th>Delete?</th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.type}}</td>
                <td>{{item.attr}}</td>
                <td>
                    <button pButton type="button" label="X" (click)="confirm_item_delete()"></button>
                </td>
              </tr>
        </ng-template>
      </p-table>
</div>
<div id="bartenders" hidden="true" class="container">
    <input id="bartender_name" type="text" pInputText />
    <input id="bartender_license" type="text" pInputText />
    <button pButton type="button" label="Update" (click)="update_bartender($event)"></button>
    <br><br>
    <div id="delete_bartender_div" hidden="true">
        <input id="delete_bartender" type="text" pInputText />
        <button pButton type="button" label="Submit" (click)="delete_bartender($event)"></button>
    </div>
    <br>
    <p-table [value]="bartenders">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>License</th>
                <th>Delete?</th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bartender>
            <tr>
                <td>
                  {{bartender.name}}
                </td>
                <td>{{bartender.bartender_license}}</td>
                <td>
                    <button pButton type="button" label="X" (click)="confirm_bartender_delete()"></button>
                </td>
              </tr>
        </ng-template>
      </p-table>
</div>
<div id="bills" hidden="true" class="container">
    <input id="bill_id" type="text" pInputText />
    <input id="bill_time" type="text" pInputText />
    <input id="bill_date" type="text" pInputText />
    <input id="bill_subtotal" type="text" pInputText />
    <input id="bill_tip" type="text" pInputText />
    <input id="bill_total" type="text" pInputText />
    <button pButton type="button" label="Update" (click)="update_bill($event)"></button>
    <br><br>
    <div id="delete_bill_div" hidden="true">
        <input id="delete_bill" type="text" pInputText />
        <button pButton type="button" label="Submit" (click)="delete_bill($event)"></button>
    </div>
    <br>
    <p-table [value]="bills">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Time</th>
                <th>Date</th>
                <th>Subtotal</th>
                <th>Tip</th>
                <th>Total</th>
                <th>Delete?</th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bill>
            <tr>
                <td>{{bill.transaction_id}}</td>
                <td>{{bill.time}}</td>
                <td>{{bill.date}}</td>
                <td>{{bill.subtotal}}</td>
                <td>{{bill.tip}}</td>
                <td>{{bill.total}}</td>
                <td>
                    <button pButton type="button" label="X" (click)="confirm_bill_delete()"></button>
                </td>
              </tr>
        </ng-template>
      </p-table>
</div>
<div id="frequents" hidden="true" class="container">
    <input id="frequents_attr1" type="text" pInputText />
    <input id="frequents_attr2" type="text" pInputText />
    <button pButton type="button" label="Update" (click)="update_frequents($event)"></button>
    <br><br>
    <div id="delete_frequents_div" hidden="true">
        <input id="delete_frequents" type="text" pInputText />
        <button pButton type="button" label="Submit" (click)="delete_frequents($event)"></button>
    </div>
    <br>
    <p-table [value]="frequents">
        <ng-template pTemplate="header">
            <tr>
                <th>Drinker</th>
                <th>Bar</th>
                <th>Delete?</th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-frequents>
            <tr>
                <td>{{frequents.attr1}}</td>
                <td>{{frequents.attr2}}</td>
                <td>
                    <button pButton type="button" label="X" (click)="confirm_frequents_delete()"></button>
                </td>
              </tr>
        </ng-template>
      </p-table>
</div>
<div id="hours" hidden="true" class="container">
    <input id="hours_attr1" type="text" pInputText />
    <input id="hours_attr2" type="text" pInputText />
    <input id="hours_attr3" type="text" pInputText />
    <input id="hours_attr4" type="text" pInputText />
    <button pButton type="button" label="Update" (click)="update_hours($event)"></button>
    <br><br>
    <div id="delete_hours_div" hidden="true">
        <input id="delete_hours" type="text" pInputText />
        <button pButton type="button" label="Submit" (click)="delete_hours($event)"></button>
    </div>
    <br>
    <p-table [value]="hours">
        <ng-template pTemplate="header">
            <tr>
                <th>Day</th>
                <th>Bar</th>
                <th>Open</th>
                <th>Close</th>
                <th>Delete?</th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hours>
            <tr>
                <td>{{hours.attr1}}</td>
                <td>{{hours.attr2}}</td>
                <td>{{hours.attr3}}</td>
                <td>{{hours.attr4}}</td>
                <td>
                    <button pButton type="button" label="X" (click)="confirm_hours_delete()"></button>
                </td>
              </tr>
        </ng-template>
      </p-table>
</div>
<div id="inventory" hidden="true" class="container">
    <input id="inventory_attr1" type="text" pInputText />
    <input id="inventory_attr2" type="text" pInputText />
    <input id="inventory_attr3" type="text" pInputText />
    <input id="inventory_attr4" type="text" pInputText />
    <button pButton type="button" label="Update" (click)="update_inventory($event)"></button>
    <br><br>
    <div id="delete_inventory_div" hidden="true">
        <input id="delete_inventory" type="text" pInputText />
        <button pButton type="button" label="Submit" (click)="delete_inventory($event)"></button>
    </div>
    <br>
    <p-table [value]="inventory">
        <ng-template pTemplate="header">
            <tr>
                <th>Bar</th>
                <th>Item</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Delete?</th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-inventory>
            <tr>
                <td>{{inventory.attr1}}</td>
                <td>{{inventory.attr2}}</td>
                <td>{{inventory.attr3}}</td>
                <td>{{inventory.attr4}}</td>
                <td>
                    <button pButton type="button" label="X" (click)="confirm_inventory_delete()"></button>
                </td>
              </tr>
        </ng-template>
      </p-table>
</div>
<div id="likes" hidden="true" class="container">
    <input id="likes_attr1" type="text" pInputText />
    <input id="likes_attr2" type="text" pInputText />
    <button pButton type="button" label="Update" (click)="update_likes($event)"></button>
    <br><br>
    <div id="delete_likes_div" hidden="true">
        <input id="delete_likes" type="text" pInputText />
        <button pButton type="button" label="Submit" (click)="delete_likes($event)"></button>
    </div>
    <br>
    <p-table [value]="likes">
        <ng-template pTemplate="header">
            <tr>
                <th>Drinker</th>
                <th>Item</th>
                <th>Delete?</th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-likes>
            <tr>
                <td>{{likes.attr1}}</td>
                <td>{{likes.attr2}}</td>
                <td>
                    <button pButton type="button" label="X" (click)="confirm_likes_delete()"></button>
                </td>
              </tr>
        </ng-template>
      </p-table>
</div>
<div id="operates" hidden="true" class="container">
    <input id="operates_attr1" type="text" pInputText />
    <input id="operates_attr2" type="text" pInputText />
    <button pButton type="button" label="Update" (click)="update_operates($event)"></button>
    <br><br>
    <div id="delete_operates_div" hidden="true">
        <input id="delete_operates" type="text" pInputText />
        <button pButton type="button" label="Submit" (click)="delete_operates($event)"></button>
    </div>
    <br>
    <p-table [value]="operates">
        <ng-template pTemplate="header">
            <tr>
                <th>Bar</th>
                <th>Hour</th>
                <th>Delete?</th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-operates>
            <tr>
                <td>{{operates.attr1}}</td>
                <td>{{operates.attr2}}</td>
                <td>
                    <button pButton type="button" label="X" (click)="confirm_operates_delete()"></button>
                </td>
              </tr>
        </ng-template>
      </p-table>
</div>
<div id="printed_on" hidden="true" class="container">
    <input id="printed_on_attr1" type="text" pInputText />
    <input id="printed_on_attr2" type="text" pInputText />
    <button pButton type="button" label="Update" (click)="update_printed_on($event)"></button>
    <br><br>
    <div id="delete_printed_on_div" hidden="true">
        <input id="delete_printed_on" type="text" pInputText />
        <button pButton type="button" label="Submit" (click)="delete_printed_on($event)"></button>
    </div>
    <br>
    <p-table [value]="printed_on">
        <ng-template pTemplate="header">
            <tr>
                <th>Item</th>
                <th>Bill</th>
                <th>Delete?</th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-printed_on>
            <tr>
                <td>{{printed_on.attr1}}</td>
                <td>{{printed_on.attr2}}</td>
                <td>
                    <button pButton type="button" label="X" (click)="confirm_printed_on_delete()"></button>
                </td>
              </tr>
        </ng-template>
      </p-table>
</div>
<div id="transacts" hidden="true" class="container">
    <input id="transacts_attr1" type="text" pInputText />
    <input id="transacts_attr2" type="text" pInputText />
    <input id="transacts_attr3" type="text" pInputText />
    <button pButton type="button" label="Update" (click)="update_transacts($event)"></button>
    <br><br>
    <div id="delete_transacts_div" hidden="true">
        <input id="delete_transacts" type="text" pInputText />
        <button pButton type="button" label="Submit" (click)="delete_transacts($event)"></button>
    </div>
    <br>
    <p-table [value]="transacts">
        <ng-template pTemplate="header">
            <tr>
                <th>Drinker</th>
                <th>Bill</th>
                <th>Bar</th>
                <th>Delete?</th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-transacts>
            <tr>
                <td>{{transacts.attr1}}</td>
                <td>{{transacts.attr2}}</td>
                <td>{{transacts.attr3}}</td>
                <td>
                    <button pButton type="button" label="X" (click)="confirm_transacts_delete()"></button>
                </td>
              </tr>
        </ng-template>
      </p-table>
</div>
<div id="works" hidden="true" class="container">
    <input id="works_attr1" type="text" pInputText />
    <input id="works_attr2" type="text" pInputText />
    <input id="works_attr3" type="text" pInputText />
    <input id="works_attr4" type="text" pInputText />
    <input id="works_attr5" type="text" pInputText />
    <button pButton type="button" label="Update" (click)="update_works($event)"></button>
    <br><br>
    <div id="delete_works_div" hidden="true">
        <input id="delete_works" type="text" pInputText />
        <button pButton type="button" label="Submit" (click)="delete_works($event)"></button>
    </div>
    <br>
    <p-table [value]="works">
        <ng-template pTemplate="header">
            <tr>
                <th>Bar</th>
                <th>Bartender</th>
                <th>Date</th>
                <th>Start</th>
                <th>End</th>
                <th>Delete?</th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-works>
            <tr>
                <td>{{works.attr1}}</td>
                <td>{{works.attr2}}</td>
                <td>{{works.attr3}}</td>
                <td>{{works.attr4}}</td>
                <td>{{works.attr5}}</td>
                <td>
                    <button pButton type="button" label="X" (click)="confirm_works_delete()"></button>
                </td>
              </tr>
        </ng-template>
      </p-table>
</div>
<div id="sells" hidden="true" class="container">
    <input id="sells_attr1" type="text" pInputText />
    <input id="sells_attr2" type="text" pInputText />
    <input id="sells_attr3" type="text" pInputText />
    <button pButton type="button" label="Update" (click)="update_sells($event)"></button>
    <br><br>
    <div id="delete_sells_div" hidden="true">
        <input id="delete_sells" type="text" pInputText />
        <button pButton type="button" label="Submit" (click)="delete_sells($event)"></button>
    </div>
    <br>
    <p-table [value]="sells">
        <ng-template pTemplate="header">
            <tr>
                <th>Bar</th>
                <th>Item</th>
                <th>Price</th>
                <th>Delete?</th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sells>
            <tr>
                <td>{{sells.attr1}}</td>
                <td>{{sells.attr2}}</td>
                <td>{{sells.attr3}}</td>
                <td>
                    <button pButton type="button" label="X" (click)="confirm_sells_delete()"></button>
                </td>
              </tr>
        </ng-template>
      </p-table>
</div>
<br><br>